* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace, cursive;
  background: white;
}

.todolist {
  margin: 5vh 50vh 10vh 10vh;
  width: 90%;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.heading {
  display: flex;
  margin: 20px 0px 20px 20px;
  padding-top: 40px;
  color: #000;
  justify-content: center;
}

ul {
  list-style: none;
  margin-left: 15px;
  width: 100%;
}

p {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 600;
}

.task_container {
  width: 95%;
  margin: 0 20px 10px 20px;
  display: flex;
  justify-content: space-between;
}

input {
  border: none;
  padding: 5px;
  width: 95%;
  font-size: 12px;
}

#task_input:focus {
  outline-color: rgb(136, 184, 246);
  background-color: rgb(227, 237, 255);
}

input::placeholder {
  color: rgb(158, 150, 150);
}

#add_btn {
  padding: 3px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.task-list {
  width: 95%;
  margin-left: 7px;
  background-color: #fff;
  border-bottom: 1px solid #929292;
  display: flex;
  padding: 5px;
  align-items: center;
}

.checked {
  margin-right: 10px;
  width: 16px;
  font-size: 12px;
  cursor: pointer;
}

.task-index {
  color: #000;
  display: flex;
}

.task-name {
  width: 90%;
  margin-right: 44px;
  cursor: pointer;
  outline: none;
  border: none;
  color: rgb(65, 60, 60);
  font-size: 16px;
}

.task-name:focus {
  background-color: rgb(119, 170, 230);
}

.three-dot {
  margin-right: 15px;
  cursor: pointer;
  font-size: 18px;
}

.trash-icon {
  cursor: pointer;
  font-size: 22px;
}

.hide-icon {
  display: none;
}

.completed-task {
  text-decoration: line-through;
}

#remove_btn {
  border: none;
  padding: 10px;
  background: none;
  font-family: monospace, cursive;
  font-size: 20px;
  font-weight: 400;
  margin-left: 70px;
  margin-top: 20px;
  cursor: pointer;
  font-style: italic;
}

#remove_btn:hover {
  background: rgb(83, 128, 205);
}
